# Banco de Dados PostgreSQL
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=
USER_SERVICE_DB_PORT=

#Spring Datasource
SPRING_DATASOURCE_URL=

# Configurações do Keycloak
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_CLIENT_SECRET_USER_SERVICE=
KEYCLOAK_INTERNAL_URL=
KEYCLOAK_PORT=
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_USER=
SMTP_PASSWORD=

# Configurações do user-service
USER_SERVICE_PORT=

# Configurações do S3 Bucket
S3_ENDPOINT=
USER_SERVICE_S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=

#Configurações do Redis
USER_SERVICE_REDIS_HOST=
USER_SERVICE_REDIS_PORT=

#Configurações do Kafka
KAFKA_SERVERS=

#Configurações do Eureka
EUREKA_SERVER_URL=

#Configurações de log
LOGSTASH_HOST=
LOGSTASH_PORT=