# ============================================================
# INFRAESTRUTURA
# ============================================================
KEYCLOAK_CLIENT_SECRET_API_GATEWAY=
KEYCLOAK_INTERNAL_URL=
KEYCLOAK_EXTERNAL_URL=
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DB_URL=
KEYCLOAK_PORT=
FRONTEND_URL=
EUREKA_SERVER_URL=
EUREKA_CLIENT_REGISTER_WITH_EUREKA=
EUREKA_CLIENT_FETCH_REGISTRY=
SPRING_KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONNECT_PORT=
LOGSTASH_HOST=
LOGSTASH_PORT=
MAIL_HOST=
MAIL_PORT=
MAIL_REPLY_TO=
MAIL_USERNAME=
MAIL_PASSWORD=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=
SPRING_PROFILES_ACTIVE=

# ============================================================
# USER-SERVICE
# ============================================================
USER_SERVICE_DB_USER=
USER_SERVICE_DB_PASSWORD=
USER_SERVICE_DB_PORT=
SPRING_DATASOURCE_URL_USER=
KEYCLOAK_CLIENT_SECRET_USER_SERVICE=
USER_SERVICE_PORT=
USER_SERVICE_DB_URL=
USER_SERVICE_S3_BUCKET_NAME=
USER_SERVICE_REDIS_HOST=
USER_SERVICE_REDIS_PORT=

